@page "/"

<div class="index">
    <StackingContext>
        <NewInput T="string" Label="New Input"/>
        <Select T="string" />

        <div style="display: flex; flex-direction: row">
            <Select T="string" />
        </div>
    </StackingContext>

</div>

@code {

}
