@page "/"
@using HotfixStudio.Infrastructure.PresentationData
@using HotfixStudio.Presentation.Components.BaseElements

<div class="index">
    <BaseIndex>
        <Logo>
            Logo
        </Logo>
        <Tabs>
            <MainTabs @bind-Tabs="tabs" @bind-CurrentTab="currentTab" />
        </Tabs>
        <Menu>
            @*
            <MainMenu />
            *@
            <Button Content="Click me" OnClick="AddTab" />
            <Button IsIcon="true" Content="search" />
        </Menu>
    </BaseIndex>

</div>

@code {
    List<PageTab> tabs = new();
    PageTab? currentTab;

    void AddTab()
    {
        tabs.Add(new()
            {
                Label = "Title " + (tabs.Count + 1),
                PageComponent = typeof(TestPage)
            });
    }

}
