.base-index-component {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.base-index-header {
    display: flex;
    background-color: var(--color-background);
}

.base-index-logo {
    display: flex;
    flex-grow: 1;
}

.base-index-tabs-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.base-index-body {
    display: flex;
    flex-grow: 1;
}

.base-index-footer {
    z-index: 10;
    background-color: var(--color-background-light);
    position: relative;
}

.base-index-tabs {
    display: flex;
    flex-grow: 1;
}

.base-index-menu-wrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--color-background);
    position: relative;
}

.base-index-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.base-index-content-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.base-index-content-page {
    flex-grow: 1;
    position: relative;
    display: flex;
}
