@using HotfixStudio.Presentation.Components.BaseElements

<div class="base-index-component">

    <div class="base-index-container-row">
        <div class="base-index-sidebar" style="@($"min-width:{sidebarWidth}px;")">
            <div class="base-index-sidebar-column">
                @Logo
                @Menu
            </div>
            <BaseDragBar @bind-Size="sidebarWidth" Type="DragBarType.VERTICAL_RIGHT" />
        </div>
        <div class="base-index-content" style="@($"width:calc(100% - {sidebarWidth}px);")">
            @Tabs
        </div>

    </div>
    <div class="base-index-footer" style="@($"height:{footerHeight}px;")">
        <BaseDragBar @bind-Size="footerHeight" Type="DragBarType.HORIZONTAL_TOP" />
    </div>

</div>

@code {
    [Parameter]
    public RenderFragment Logo { get; set; }

    [Parameter]
    public RenderFragment Tabs { get; set; }

    [Parameter]
    public RenderFragment Menu { get; set; }

    double sidebarWidth = 160;
    double footerHeight = 30;

}
