.base-index-component {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.base-index-container-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.base-index-footer {
    z-index: 10;
    background-color: var(--color-background-light);
    position: relative;
}

.base-index-sidebar {
    background-color: var(--color-background);
    position: relative;
}

.base-index-sidebar-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.base-index-content {
    flex-grow: 1;
}