.base-index-component {
    --component-header-height: 48px;
    --component-footer-height: 30px;
    --component-aside-width: 180px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: var(--component-aside-width) 1fr;
    grid-template-rows: var(--component-header-height) 1fr var(--component-footer-height);
    transition: ease 0s;
    background: url('component-images/layout/6OR_Garrison_Stonewall.PNG');
}

    .base-index-component.animate {
        transition: ease 0.2s;
    }

        .base-index-component.animate ::deep .tabs-header {
            transition: min-height ease 0.2s;
        }

.base-index-dragbar-container {
    position: relative;
}

.base-index-footer {
    z-index: 10;
    background-color: var(--color-background-light);
    position: relative;
    grid-column: span 2;
    width: 100%;
}

.base-index-logo {
    background-color: var(--color-background-light);
}

.base-index-aside {
    background-color: var(--color-background);
    position: relative;
    grid-row: 2;
}

    .base-index-aside.toggling {
        transition: width ease 0.2s;
    }


.base-index-content {
    position: relative;
    grid-row: span 2;
}

    .base-index-content.toggling {
        transition: max-width ease 0.2s;
    }

.base-index-menu-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color ease 0.2s;
}

    .base-index-menu-overlay.disabled {
        background-color: rgba(0, 0, 0, 0);
        width: 0;
        height: 0;
    }

::deep .base-drag-bar-component.vertical.right {
    right: calc(100% - var(--component-aside-width));
}

::deep .base-drag-bar-component.horizontal.top {
    top: calc(100% - var(--component-footer-height));
}

::deep .base-drag-bar-component.horizontal.bottom {
    bottom: calc(100% - var(--component-header-height));
}

::deep .tabs-header {
    min-height: var(--component-header-height);
}
