@using HotfixStudio.Presentation.Components.BaseElements

<div class="button-component @GetSizeClass()" style="@GetColorStyle()" @onclick="OnClick">
    @if(ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        <span style="@GetTextColorStyle()">
            @Text
        </span>
    }
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public ElementColor TextColor { get; set; } = ElementColor.TEXT;

    [Parameter]
    public ElementColor BackgroundColor { get; set; } = ElementColor.PRIMARY;

    [Parameter]
    public ElementSize Size { get; set; } = ElementSize.DEFAULT;

    [Parameter]
    public EventCallback OnClick { get; set; }

    string GetTextColorStyle()
    {
        return $"color:var(--color-{TextColor.ToString().ToLower().Replace("_", "-")});";
    }

    string GetSizeClass()
    {
        return Size.ToString().ToLower();
    }

    string GetColorStyle()
    {
        string preparedColorString = BackgroundColor.ToString().Replace("_LIGHT", "").Replace("_DARK", "").Replace("_", "-").ToLower();
        string color = $"--component-color: var(--color-{preparedColorString});";
        color += $"--component-color-hover: var(--color-{preparedColorString}-light);";
        color += $"--component-color-active: var(--color-{preparedColorString}-dark);";
        return color;
    }
}
