.button-component {
    --component-color: var(--color-primary);
    --component-color-hover: var(--color-primary-light);
    --component-color-active: var(--color-primary-dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    overflow: hidden;
    transition: font-variation-settings ease 0.2s;
    background-color: var(--component-color);
    font-variation-settings: 'FILL' 0;
    border-radius: 4px;
    height: 24px;
}

    .button-component:hover {
        background-color: var(--component-color-hover);
        font-variation-settings: 'FILL' 1;
    }

    .button-component:active {
        background-color: var(--component-color-active);
    }

    .button-component.default {
        padding: 4px;
    }

    .button-component.compact {
        display: inline-block;
    }
