@using HotfixStudio.Presentation.Components.BaseElements

<div class="button-component" style="@GetBackgroundColorStyle() "  @onclick="OnClick">
    <span class="@GetClass()" style="@GetTextColorStyle()">
        @Content
    </span>
</div>

@code {
    [Parameter]
    public string Content { get; set; }

    [Parameter]
    public ElementColor TextColor { get; set; } = ElementColor.TEXT;

    [Parameter]
    public ElementColor BackgroundColor { get; set; } = ElementColor.PRIMARY;

    [Parameter]
    public ButtonSize Size { get; set; } = ButtonSize.DEFAULT;

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public bool IsIcon { get; set; } = false;

    string GetBackgroundColorStyle()
    {
        return $"background-color:var(--color-{BackgroundColor.ToString().ToLower().Replace("_", "-")});";
    }

    string GetTextColorStyle()
    {
        return $"color:var(--color-{TextColor.ToString().ToLower().Replace("_", "-")});";
    }

    string GetSizeStyle()
    {
        return "";
    }

    string GetClass()
    {
        return IsIcon ? "material-symbols" : "";
    }
}
