.grid-component {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.grid-header {
    display: flex;
    background-color: var(--color-background);
}

.grid-body {
    display: flex;
    flex-grow: 1;
}

.grid-footer {
    background-color: var(--color-background-light);
}

.grid-tabs {
    flex-grow: 1;
}

.grid-menu {
    background-color: var(--color-background);
}

.grid-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.grid-content-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.grid-content-page {
    flex-grow: 1;
    position: relative;
    display: flex;
    padding: 0px 4px 4px 0px;
}

.grid-resize-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity: 0.1;
    background-size: 10px 10px;
    background-image: linear-gradient(to right, var(--color-text) 1px, transparent 1px), linear-gradient(to bottom, var(--color-text) 1px, transparent 1px);
}

    .grid-resize-overlay.width {
        cursor: ew-resize;
    }

    .grid-resize-overlay.height {
        cursor: ns-resize;
    }

.grid-vertical-bar {
    width: 6px;
    background-color: transparent;
}

    .grid-vertical-bar.resizing {
        background-color: var(--color-text);
    }

    .grid-vertical-bar::before {
        content: '';
        cursor: ew-resize;
        width: 4px;
        display: block;
        margin-left: 1px;
        height: 100%;
    }

.grid-horizontal-bar {
    height: 6px;
    background-color: transparent;
}

    .grid-horizontal-bar.resizing {
        background-color: var(--color-text);
    }

    .grid-horizontal-bar::before {
        content: '';
        cursor: ns-resize;
        height: 4px;
        display:block;
        margin-top: 1px;
    }
