@using HotfixStudio.Infrastructure.PresentationData
@using HotfixStudio.Presentation.Components.BaseElements

<div class="tabs-component">
    <div class="tabs-header" @ondblclick="OnTabDoubleClick">
        @foreach (var tab in tabs)
        {
            <div class="tabs-header-cell @GetTabClass(tab)" @onclick="(() => ChangeTab(tab))" @key="tab">
                <div class="tabs-header-cell-icon">
                    <IconButton Base64IconString="@tab.Base64IconString" />
                </div>
                <div class="tabs-header-cell-label">
                    @tab.Label
                </div>
                @if (tab.IsClosable)
                {
                    <div class="tabs-header-cell-close">
                        <Button Size="ElementSize.COMPACT" BackgroundColor="ElementColor.TRANSPARENT" OnClick="(() => CloseTab(tab))">
                            <Icon Color="ElementColor.ERROR" IconName="cancel" />
                        </Button>
                    </div>
                }
            </div>
        }
    </div>

    <div class="tabs-body">
        @foreach (var tab in tabs)
        {
            <div class="tabs-body-content @GetTabClass(tab)" @key="tab">
                <StackingContext>
                    <DynamicComponent Type="tab.PageComponent" />
                </StackingContext>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public EventCallback OnTabDoubleClick { get; set; }

    List<PageTab> tabs = new();
    PageTab? CurrentTab;

    PageTab? closingTab;

    void ChangeTab(PageTab tab)
    {
        if (CurrentTab != tab)
        {
            CurrentTab = tab;
        }
    }

    async Task CloseTab(PageTab tab)
    {
        closingTab = tab;
        this.StateHasChanged();
        await Task.Delay(200);
        var index = tabs.IndexOf(tab);
        tabs.Remove(tab);
        index = Math.Min(index, tabs.Count - 1);
        if (index >= 0)
            ChangeTab(tabs[index]);
    }

    string GetTabClass(PageTab tab)
    {
        if (closingTab == tab)
            return "closing";
        else if (CurrentTab == tab)
            return "active";
        else
            return "";
    }

    public void OpenTab(PageTab newTab)
    {
        tabs.Add(newTab);
        ChangeTab(newTab);
        this.StateHasChanged();
    }
}