.tabs-component {
    display: flex;
    width: 100%;
    user-select: none;
}

.tabs-container {
    display: flex;
    width: 100%;
    border-left: 1px solid var(--color-text);
    flex-direction: row;
}

.tabs-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-right: 1px solid var(--color-text);
    overflow: hidden;
    flex-basis: 240px;
}

    .tabs-cell:hover {
        background-color: var(--color-background-light);
    }

    .tabs-cell:hover .close-test {
        display: block;
    }

    .tabs-cell.active {
        background-color: var(--color-background-dark);
        box-shadow: 0px 20px 0px 0px var(--color-background-dark);
    }

    .tabs-cell span {
        margin-left: 6px;
        flex-grow: 1;
        flex-shrink: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.close-test {
    margin-right: 6px;
    width: 24px;
    height: 24px;
    background-color: red;
    display: none;
}
