.tabs-component {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    --tab-width: 200px;
}

.tabs-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
    background-color: var(--color-background);
}

.tabs-header-cell {
    --component-iteration-icon: url('images/icons/INV_Misc_QuestionMark.png');
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-right: 1px solid var(--color-background-light);
    flex-basis: var(--tab-width);
    animation: growIn 0.2s ease forwards;
    transition: min-width ease 0.2s;
    background-color: var(--color-background);
    flex-direction: row;
    position: relative;
    box-sizing: border-box;
    transform-origin: left;
}

    .tabs-header-cell:hover {
        background-color: var(--color-background-light);
    }

    .tabs-header-cell:last-child {
        border-right: 1px solid var(--color-background);
    }



    .tabs-header-cell.active {
        background-color: var(--color-background-dark);
        box-shadow: 0px 8px 0px 0px var(--color-background-dark);
        z-index: 2;
        cursor: auto;
    }

        .tabs-header-cell.active::before {
            content: '';
            width: var(--component-bar-scale);
            height: 100%;
            background-image: url('images/border/border-right.png');
            background-size: var(--component-bar-scale) var(--component-bar-scale);
            position: absolute;
            bottom: 0;
            left: -36px;
        }

        .tabs-header-cell.active::after {
            content: '';
            width: var(--component-bar-scale);
            height: 100%;
            background-image: url('images/border/border-left.png');
            background-size: var(--component-bar-scale) var(--component-bar-scale);
            position: absolute;
            bottom: 0;
            right: -42px;
        }


        .tabs-header-cell.active:not(:first-child) > .tabs-header-cell-corner::before {
            content: '';
            width: var(--component-bar-scale);
            height: var(--component-bar-scale);
            background-image: url('images/border/border-bottomrighttop.png');
            background-size: var(--component-bar-scale) var(--component-bar-scale);
            position: absolute;
            bottom: -14px;
            left: -36px;
        }

        .tabs-header-cell.active:first-child > .tabs-header-cell-corner::before {
            content: '';
            width: var(--component-bar-scale);
            height: 200%;
            background-image: url('images/border/border-left.png');
            background-size: var(--component-bar-scale) var(--component-bar-scale);
            position: absolute;
            top: 0;
            left: -8px;
        }

    .tabs-header-cell:first-child {
        border-left: 1px solid var(--color-background-light);
    }

    .tabs-header-cell.active > .tabs-header-cell-corner::after {
        content: '';
        width: var(--component-bar-scale);
        height: var(--component-bar-scale);
        background-image: url('images/border/border-bottomlefttop.png');
        background-size: var(--component-bar-scale) var(--component-bar-scale);
        position: absolute;
        bottom: -14px;
        right: -42px;
    }

    .tabs-header-cell.active:not(.closing):hover .tabs-header-cell-close {
        display: block;
        cursor: pointer;
    }

    .tabs-header-cell.closing {
        animation: shrinkOut 0.2s ease forwards;
        flex-shrink: 1;
    }

.tabs-header-cell-label {
    margin-left: 6px;
    flex-grow: 1;
    flex-shrink: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tabs-header-cell-icon {
    background-image: var(--component-iteration-icon);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    height: 100%;
    max-height: 32px;
    aspect-ratio: 1 / 1;
    background-position: center;
    margin-left: 9px;
    overflow: hidden;
}

.tabs-header-cell-close {
    height: 100%;
    max-height: 32px;
    aspect-ratio: 1 / 1;
    background-image: url('images/misc/close.png');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

.tabs-body {
    flex-grow: 1;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    min-height: 0;
    min-width: 0;
}

.tabs-body-content {
    flex-grow: 1;
    display: none;
    transform: scale(0);
    transition: transform 0.2s ease, opacity 0.2s ease;
    min-height: 0;
    min-width: 0;
}

    .tabs-body-content.active {
        display: block;
        transform: scale(1);
        opacity: 1;
    }

    .tabs-body-content.closing {
        display: block;
        transform: scale(0.8);
        opacity: 0;
    }

@keyframes growIn {
    from {
        max-width: 0px;
        flex-basis: 0px;
        min-width: 0px;
    }

    to {
        max-width: var(--tab-width);
        flex-basis: var(--tab-width);
        min-width: 80px;
    }
}

@keyframes shrinkOut {
    from {
        max-width: var(--tab-width);
        flex-basis: var(--tab-width);
        min-width: 80px;
    }

    to {
        max-width: 0px;
        flex-basis: 0px;
        min-width: 0px;
    }
}