@using HotfixStudio.Presentation.ComponentModels

<div class="main-menu-component">
    @for (int i = 0; i < MenuObjects.Count; i++)
    {
        int index = i;
        <div class="label" @onmouseenter="(() => OpenMenu(index))" @onmouseleave="(() => MouseOut(index))">
            <div class="icon" style="@GetIconStyle(MenuObjects[index].Base64IconString)">
            </div>
            <div class="text">
                <span>
                    @MenuObjects[index].Header
                </span>
            </div>
            @if (hoverIndex == index)
            {
                <div class="abs-pos">
                    <PopupMenu Label="@MenuObjects[i].Header" Sections="@MenuObjects[index].Sections" />
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public bool MenuOpen { get; set; }

    [Parameter]
    public EventCallback<bool> MenuOpenChanged { get; set; }

    [Parameter]
    public List<MenuObject> MenuObjects { get; set; }

    int hoverIndex = -1;

    void MouseOut(int index)
    {
        if (hoverIndex == index)
        {
            hoverIndex = -1;
            MenuOpen = false;
            MenuOpenChanged.InvokeAsync(MenuOpen);
        }
    }

    void OpenMenu(int index)
    {
        hoverIndex = index;
        MenuOpen = true;
        MenuOpenChanged.InvokeAsync(MenuOpen);
    }

    public void Close()
    {
        hoverIndex = -1;
        MenuOpen = false;
        MenuOpenChanged.InvokeAsync(MenuOpen);
    }

    string GetIconStyle(string base64IconString)
    {
        return string.IsNullOrWhiteSpace(base64IconString) ? "" : $"background-image: url('data:image/png;base64,{base64IconString}');";
    }
}
