@using HotfixStudio.Infrastructure.PresentationData
@using HotfixStudio.Presentation.Components.BaseElements

<div class="tabs-component">
    <div class="tabs-header" style="@($"height:{headerHeight}px;")">
        @foreach (var tab in Tabs)
        {
            <div class="tabs-header-cell @GetTabClass(tab)" @onclick="(() => ChangeTab(tab))" @key="tab">
                <div class="tabs-header-cell-label">
                    @tab.Label
                </div>
                @if (tab.IsClosable)
                {
                    <div class="tabs-header-cell-close" @onclick="(() => CloseTab(tab))">
                        X
                    </div>
                }
            </div>
        }
        <BaseDragBar @bind-Size="headerHeight" Type="DragBarType.HORIZONTAL_BOTTOM" MinSize="24" MaxSize="300" />
    </div>

    <div class="tabs-body">
        @foreach (var tab in Tabs)
        {
            <div class="tabs-body-content @GetTabClass(tab)" @key="tab">
                <DynamicComponent Type="tab.PageComponent" />
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public List<PageTab> Tabs { get; set; }

    [Parameter]
    public EventCallback<List<PageTab>> TabsChanged { get; set; }

    [Parameter]
    public PageTab CurrentTab { get; set; }

    [Parameter]
    public EventCallback<PageTab> CurrentTabChanged { get; set; }

    PageTab? closingTab;
    double headerHeight = 40;

    void ChangeTab(PageTab tab)
    {
        if (CurrentTab != tab)
        {
            CurrentTab = tab;
            CurrentTabChanged.InvokeAsync(CurrentTab);
        }
    }

    async Task CloseTab(PageTab tab)
    {
        closingTab = tab;
        this.StateHasChanged();
        await Task.Delay(200);
        var index = Tabs.IndexOf(tab);
        Tabs.Remove(tab);
        index = Math.Min(index, Tabs.Count - 1);
        if (index >= 0)
            ChangeTab(Tabs[index]);
    }

    string GetTabClass(PageTab tab)
    {
        if (closingTab == tab)
            return "closing";
        else if (CurrentTab == tab)
            return "active";
        else
            return "";
    }
}