.tabs-component {
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    flex-direction: column;
    overflow-x: scroll;
    box-sizing: border-box;
    z-index: 2;
}

    .tabs-component::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    .tabs-component:not(:hover)::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0);
    }

.tabs-container {
    display: flex;
    flex-grow: 1;
    border-left: 1px solid var(--color-text);
    flex-direction: row;
}

.tabs-cell {
    min-width: 180px;
    padding-top: 6px;
    cursor: pointer;
    border-right: 1px solid var(--color-text);
    position: relative;
}

.tabs-label {
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs-cell:hover {
    background-color: var(--color-background-light);
}