.popup-menu-component {
    --component-gap: 2px;
    display: flex;
    border-radius: 4px;
    border-top-left-radius: 0px;
    background-color: var(--color-background-light);
    flex-direction: column;
    color: var(--color-text);
    overflow-x: clip;
    animation: scaleHeader 0.1s linear forwards;
    max-width: 0;
    width: 240px;
}

.popup-menu-header {
    padding: 5px 10px;
    background-color: var(--color-background-light);
    border-radius: 4px;
    margin: var(--component-gap);
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    white-space: nowrap;
}

.popup-menu-body {
    gap: var(--component-gap);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 0;
    animation: scaleBody 0.2s linear 0.1s forwards;
    overflow: hidden;
    white-space: nowrap;
    font-weight: normal;
}

.popup-menu-section {
    border-radius: var(--component-gap);
    background-color: var(--color-background);
    margin: 0px var(--component-gap);
    cursor: pointer;
}

    .popup-menu-section:last-child {
        margin-bottom: var(--component-gap);
    }

.popup-menu-section-item {
    padding: 5px 10px;
}

    .popup-menu-section-item:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .popup-menu-section-item:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .popup-menu-section-item:hover {
        background-color: var(--color-background-light);
        border-radius: 0px;
    }

@keyframes scaleHeader {
    from {
        max-width: 0
    }

    to {
        max-width: 240px;
    }
}

@keyframes scaleBody {
    from {
        max-height: 0;
    }

    to {
        max-height: 1000px;
    }
}
