.popup-menu-component {
    --component-gap: 2px;
    --component-height: 240px;
    display: flex;
    border-top-left-radius: 0px;
    background-color: var(--color-background-light);
    flex-direction: column;
    color: var(--color-text);
    overflow-x: clip;
    animation: scaleOut 0.2s ease forwards;
    max-width: 0;
    width: 240px;
    
}

    .popup-menu-component::before {
        content: '';
        position: absolute;
        background-size: 48px 48px;
        background-image: url('images/border/border-bottomlefttop.png');
        top: -26px;
        left: -3px;
        width: 48px;
        height: 48px;
        z-index: 1000;
    }

    .popup-menu-component::after {
        content: '';
        position: absolute;
        background-size: 48px 48px;
        background-image: url('images/border/border-topleftbottom.png');
        bottom: -26px;
        left: -3px;
        width: 48px;
        height: 48px;
        z-index: 1000;
    }

.popup-menu-header {
    color: var(--color-label);
    padding: 5px 10px;
    background-color: var(--color-background-light);
    margin: var(--component-gap);
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    white-space: nowrap;
}

.popup-menu-body {
    gap: var(--component-gap);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    font-weight: normal;
}

.popup-menu-section {
    border-radius: var(--component-gap);
    background-color: var(--color-background);
    cursor: pointer;
}

    .popup-menu-section:last-child {
        margin-bottom: var(--component-gap);
    }

.popup-menu-section-item {
    padding: 5px 10px;
}

    .popup-menu-section-item:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .popup-menu-section-item:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .popup-menu-section-item:hover {
        background-color: var(--color-background-light);
        border-radius: 0px;
    }

@keyframes scaleOut {
    from {
        max-width: 0
    }

    to {
        max-width: 240px;
    }
}