.label {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 1.5px 1.5px 1px black;
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 1.5px;
    color:var(--color-label);
}

.label-xl {
    text-shadow: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black, 3px 3px 0 black, 5px 5px 2px black;
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 2px;
    color: var(--color-label);
}

.text {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 1.5px 1.5px 1px black;
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: var(--color-text);
}