.base-select-component {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    transition: z-index 0s linear 0.2s;
}

    .base-select-component.hover {
        z-index: 3;
        transition-delay: 0s;
    }

    .base-select-component.focus {
        z-index: 4;
        transition-delay: 0s;
    }

        .base-select-component.focus > .base-select-dropdown {
            height: 250px;
            outline: 1px solid var(--color-primary);
            border: 1px solid var(--color-primary);
        }

.base-select-dropdown {
    height: 0px;
    flex-grow: 1;
    margin: 0 10px;
    transition: height, border, outline, linear 0.1s;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    outline: 0px solid rgba(0, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color-background-dark);
    user-select: none;
}

.base-select-dropdown-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.base-select-dropdown-option {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-background-light);
}

    .base-select-dropdown-option:hover {
        background-color: var(--color-background-light);
    }

    .base-select-dropdown-option.selected {
        background-color: var(--color-primary);
    }
        .base-select-dropdown-option.selected:hover {
            background-color: var(--color-primary-light);
        }

.base-select-dropdown-option-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
}

.base-select-dropdown-option-value {
    flex-grow: 1;
    text-align: right;
    padding-left: 12px;
    font-weight: bold;
}