<div class="base-border-component" style="@GetScaleStyle()">
    <div class="border-container">
        <div class="top-left corner" />
        <div class="top horizontal" />
        <div class="top-right corner" />
        <div class="left vertical" />
        <div class="center" />
        <div class="right vertical" />
        <div class="bottom-left corner" />
        <div class="bottom horizontal" />
        <div class="bottom-right corner" />
    </div>
    <div class="content">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int Scale { get; set; } = 240;

    string GetScaleStyle()
    {
        return $"--component-scale:{Scale}px;";
    }
}
