input {
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    font-size: calc(var(--component-input-size) / 2);
    padding: 0px calc(var(--component-input-size) / 5);
    text-overflow: ellipsis;
    height: var(--component-input-size);
    color: var(--color-text);
    letter-spacing: 1.5px;
    word-spacing: 2px;
}

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.base-input-loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 6px;
    height: 28px;
}

.base-input-container {
    transition: ease 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    position: relative;
}

.base-input-background-image {
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 0;
}

    .base-input-background-image.left {
        background: url('component-images/input/GreyBorder64-Left.PNG') no-repeat;
        background-size: contain;
        left: 0;
        width: var(--component-input-size);
        background-size: auto 100%;
    }

    .base-input-background-image.right {
        background: url('component-images/input/GreyBorder64-Right.PNG') no-repeat;
        background-size: contain;
        right: 0;
        width: var(--component-input-size);
        background-size: auto 100%;
    }

    .base-input-background-image.middle {
        background: url('component-images/input/GreyBorder64-Mid.PNG') repeat-x;
        background-size: contain;
        right: var(--component-input-size);
        left: var(--component-input-size);
        background-size: auto 100%;
    }

.base-input-background {
    border-radius: 5px;
    position: absolute;
    left: 3px;
    top: 3px;
    bottom: 3px;
    right: 3px;
    pointer-events: none;
    z-index: -1;
    background-color: var(--color-background);
}

.base-input-label {
    margin-left: 4px;
    transition: ease 0.2s;
    text-align: start;
}

.base-input-component {
    --component-input-size: 32px; /* 64 max */
    --component-color: var(--color-text);
    color: var(--component-color);
}

    .base-input-component.focus {
        --component-color: var(--color-primary);
    }